[submodule "3rdparty/metabench"]
	path = 3rdparty/metabench
	url = https://github.com/mpark/metabench
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark.git
