[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://git.chromium.org/git/external/googletest.git
[submodule "3rdparty/meta"]
	path = 3rdparty/meta
	url = https://github.com/ericniebler/meta.git
